body {
  height: 100vh;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.container {
  padding: 0;
}
.row {
  margin: 0;
}
.logo-row {
  min-height: 150px;
}
.bg-white {
  background: rgba(255,255,255,.8) !important;
}
.bg-black {
  background: rgba(21, 21, 21, 0.9) !important;
}
.fixed-height {
  overflow-x: scroll;
}
.block-img {
  width: 100%;
  max-height: 380px;
}
.btn {
  border-radius: 30px !important;
}
.small-xs {
  font-size: .5em;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

@media (max-width: 575.98px) { 
  .ml--2 {
    margin-left: -20px;
  }
  .m-4 {
    margin: 0 !important;
  }
}

@media (max-width: 375.98px) { 
  .ml--2 {
    margin-left: 0;
  }
}

.container {
  max-width: 100%;
}