body {
  min-height: 100vh;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
}

.logo-row {
  min-height: 150px;
}
.bg-white {
  background: rgba(255,255,255,.8) !important;
}
.bg-black {
  background: rgba(21, 21, 21, 0.9) !important;
}
.fixed-height {
  max-height: 288px;
  overflow-x: scroll;
}
.block-img {
  width: 100%;
}
.btn {
  border-radius: 30px !important;
}
.small-xs {
  font-size: .5em;
}
::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}